    <div class="container">
        <%= form_with(model: @article, local: true) do |form| %>
        <div class="mb-3">
            <%= form.label :title, class: 'form-label' %>
            <%= form.text_field :title, class: "form-control" + (@title_error ? ' is-invalid' : ''), placeholder: "Title of article" %>
            <% @article.errors.full_messages_for(:title).each do |msg| %>
            <p class="<%= @title_error ? 'invalid-feedback' : ""%>">
                <%= msg%>
            </p>
            <% end %>
        </div>

        <div>
            <%= form.label :description, class: 'form-label' %>
            <%= form.text_area :description, class: "form-control" + (@description_error ? ' is-invalid' : ''), placeholder: "Description" %>
            <% @article.errors.full_messages_for(:description).each do |msg| %>
            <p class="<%= @description_error ? 'invalid-feedback' : ""%>">
                <%= msg%>
            </p>
            <% end %>

        </div>

        <div class="mt-4">
            <%= form.submit nil, class: "btn btn-primary" %>
        </div>

        <% end %>
    </div>