<div class="detail-page-container container">
    <h1>
        <%= @article.title %>
    </h1>

    <div class="card text-center">
        <div class="card-header">
            by <%= link_to @article.user.username, user_path(@article.user), class: "article-name" if @article.user %>
        </div>
        <div class="card-body">
            <h5 class="card-title">
            </h5>
            <div class="card-text text-start"><%= simple_format(@article.description) %></div>
            <% if logged_in? && @article.user == current_user %>
            <div>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info"  %>
                <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?', disable_with: "Processing..." } %>
            </div>
            <% end %>
        </div>
        <div class="card-footer text-muted">
            <small>
                Created <%= time_ago_in_words(@article.created_at)  %> ago,
                edited <%= time_ago_in_words(@article.updated_at) %> ago
            </small>
        </div>
    </div>

    <div class="back-to-page-container">
        <%= link_to "[Back to article list]", articles_path %>
    </div>
</div>