<div class="detail-page">
    <div class="articles-container">
        <div class="header">
            <h1>
                Alpha Bloggers
            </h1>
        </div>

        <% @users.each do |user| %>
        <div class="card text-center">
            <div class="card-header">
                <%= link_to user.username, user, class: "text-success article-name" %>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                </h5>
                <%= link_to gravatar_for(user, size: 150), user %>
                <p>
                    <%= pluralize(user.articles.count, 'article') %>
                </p>
                <div>
                    <%= link_to "View profile", user, class: "btn btn-outline-success" %>
                    <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info"  %>
                </div>
            </div>
            <div class="card-footer text-muted">
                <small>
                    Joined <%= time_ago_in_words(user.created_at)  %> ago
                </small>
            </div>
        </div>
        <% end %>
    </div>
</div>