<div class="page-form-container container">

    <h1>Create new category</h1>

    <div class="container">
        <%= form_with(model: @category, local: true) do |form| %>
        <div class="mb-3">
            <%= form.label :name, "Category name", class: 'form-label' %>
            <%= form.text_field :name, class: "form-control" + (@name_error ? ' is-invalid' : ''), placeholder: "Enter a name" %>
            <% @category.errors.full_messages_for(:name).each do |msg| %>
            <p class="<%= @name_error ? 'invalid-feedback' : ""%>">
                <%= msg%>
            </p>
            <% end %>
        </div>

        <div class="mt-4">
            <%= form.submit nil, class: "btn btn-primary" %>
        </div>

        <% end %>
    </div>
    <div class="back-to-page-container">
        <%= link_to "[Back to home page]", root_path %>
    </div>
</div>